<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style/styles.css">
	<title>Vue Table App</title>
</head>
<body>

<div id="table-container">
	<input v-model="search" placeholder="Filter by Name or SKU" class="search">

	<div class="table">
		<div class="table__header">
			<p class="table__header__column-name" v-for="column in columns">
				<a @click="sortBy(column)">{{ column }}</a>
			</p>
		</div>
		<div class="table__body">
			<div class="table__body__row" v-for="item in filteredUsers">
				<p class="table__body__row__id">{{ item.id }}</p>
				<p class="table__body__row__name">{{ item.name }}</p>
				<p class="table__body__row__sku">{{ item.sku }}</p>
			</div>
		</div>
	</div>
</div>

<script src="src/lodash.js"></script>
<script src="src/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="src/main.js"></script>
</body>
</html>